@charset "ISO-8859-1";

h1 {
	color: red;
}

.labelStyle {
	color: blue;
	font-weight: bold;
}

.titleTable {
	text-align: center;
    width: 100px;
}

.tableName {
	text-align: left;
    width: 100px;
}

.tableRegistration {
	text-align: right;
    width: 100px;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid #000;
	padding: 8px;
}

